.card-book {
	display: flex;
}

.cover-img {
	margin: 1rem;
}

.content {
	padding: 1rem;
	word-wrap: break-word;
	text-align: left;
}

.title {
	font-weight: bold;
}

.btn-add-to-fav::after {
	content: 'Add to favourite';
}
.btn-add-to-fav {
	margin-right: 5px;
}

.btn-add-to-fav:disabled::after {
	cursor: default;
	content: 'Already added';
}

.btn-add-to-fav:disabled {
	background-color: rgb(189, 184, 184);
}

.btn-add-to-fav:disabled:hover {
	background-color: rgb(189, 184, 184);
}

img.panda-img {
	margin-top: 1rem;
	width: 30px;
}

.comment-card {
	margin: 1rem;
}

.comment-box {
	display: flex;
	justify-content: center;
}

.textarea-box {
	display: flex;
	justify-content: center;
}

.textarea {
	padding: 0 1rem;
	width: 90%;
	max-width: 800px;
	max-height: 90px;
}

@media (max-width: 991px) {
	.card-book {
		display: block;
		text-align: center;
	}
	.textarea-box {
		flex-direction: column;
		align-items: center;
	}
}

@media (min-width: 992px) {
	.textarea {
		margin-right: 0.5rem;
	}
}
