.card-book {
	display: flex;
	padding: 2rem 2rem;
}

.cover-img {
	padding-right: 1rem;
}

.panda-img {
    width: 30px;
}

.box-panda {
    padding: 0.8rem 0;
}

.btn-add-to-fav:disabled::after {
	content: 'Already added';
}

.btn-add-to-fav::after {
	content: 'Add to favourite';
}

.comment-box {
	border: 1px solid black;
}