.searching {
	display: flex;
	justify-content: center;
	padding: 5px;
}

.pic {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	min-height: 75vh;
	color: white;
	background: url(../../Graphics/my_books.jpg);
	background-position: center;
	background-size: cover;
}

.fav-container {
	display: flex;
	justify-content: center;
  flex-wrap: wrap;
	align-items: center;
}

p {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 3px;
	font-size: small;
	padding: 3px 20px 3px 20px;
}

.title {
	margin: auto;
}
