.books-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}

h3 {
	padding: 0 1.5rem;
}

@media (min-width: 375px) {
	.books-list {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 576px) {
	.books-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 768px) {
	.books-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
